<section class="page">

  <div class="form-card">
    
    <h2>{{ id ? 'Editar pizza' : 'Nova pizza' }}</h2>

    <form [formGroup]="form" (ngSubmit)="save()">

      <div class="field">
        <label for="name">Nome</label>
        <input 
          id="name"
          type="text" 
          formControlName="name" 
          placeholder="Digite o nome da pizza"
        />
      </div>

      <div class="checkbox-field">
        <label class="checkbox-container">
          <input type="checkbox" formControlName="isGlutenFree" />
          <span class="checkmark"></span>
          Sem glúten
        </label>
      </div>

      <div class="field">
  <label>Preço (R$)</label>
  <input
    type="number"
    formControlName="price"
    placeholder="Ex: 29.90"
    step="0.01"
  />

  <small *ngIf="form.get('price')?.touched && form.get('price')?.invalid">
    <span *ngIf="form.get('price')?.errors?.['required']">
      Preço é obrigatório
    </span>
    <span *ngIf="form.get('price')?.errors?.['min']">
      O preço deve ser maior que 0
    </span>
  </small>
</div>

      <div class="actions">
        <button class="btn-primary" type="submit">
          {{ id ? 'Atualizar' : 'Salvar' }}
        </button>

        <a class="btn-secondary" routerLink="/pizzas">
          Cancelar
        </a>
      </div>

    </form>

  </div>

</section>